// Boobmarks tree
.tree {
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 100%;
  position: relative;
}

.node {
  display: flex;
  flex-direction: row;
  padding: 0;
  border-radius: 4px;
  background: none;
  position: relative; // For positioning drop indicator
  scroll-margin-top: 1rem;

  &:focus {
    outline: none;
  }
}

.dragging {
  opacity: 0.5;
}

.nodeContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  border-radius: 4px;

  &:focus {
    background-color: var(--bookmark-bg-color);
    outline: none;
  }
}

.nodeContentHover:hover {
  background-color: var(--bookmark-bg-color);
}

.folder,
.bookmark {
  height: 32px;
  width: 100%;
  padding: 0.4em 1em;
}

.folder {
  padding: 0 0.5rem 0 calc(var(--indent) + 0.5rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.bookmark {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  padding: 0 0.5rem 0 calc(var(--indent) + 0.5rem);
  color: var(--bookmark-color);
  text-decoration: none;
}

.icon {
  flex: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  & > svg {
    width: 16px;
    height: 16px;
  }

  &.bookmarkIcon {
    & > svg {
      color: #808080;
    }
  }
}

.title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.count {
  flex: 0;
  color: #808080;
}

.contextMenu {
  background-color: var(--bookmark-tree-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 4px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.contextMenuItem {
  padding: 4px 12px;
  color: var(--bookmark-color);

  &:hover {
    cursor: pointer;
    background-color: var(--bookmark-bg-color);
  }
}

.contextMenuSeparator {
  height: 1px;
  background-color: var(--border-color);
  margin: 4px 0;
}

.highlight {
  background-color: var(--bookmark-bg-color);
  border-radius: 4px;
}

.dragOverlay {
  background-color: var(--bookmark-tree-bg-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  opacity: 0.9;
  padding: 0 4px;
}

.dropIndicator {
  position: absolute;
  height: 2px;
  background-color: var(--app-color);
  right: 0;
  z-index: 1;
  pointer-events: none;

  // Circle
  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--app-color);
    border-radius: 50%;
    left: 0;
    top: 1px;
    transform: translate(-50%, -50%);
    border: 2px solid var(--bookmark-tree-bg-color);
  }
}

.top {
  top: 0;
  transform: translateY(-50%);
}

.bottom {
  bottom: 0;
  transform: translateY(50%);
}
