// Boobmarks search results flat list
.list {
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 100%;
}

.item {
  padding: 0.4em 0.8em;
  height: 32px;
  border-radius: 4px; // Round corners
  background-color: var(--bookmark-tree-bg-color);

  &:hover {
    background-color: var(--bookmark-bg-color);
  }
}

.folder {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  font-weight: 500;
}

.bookmark {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  color: var(--bookmark-color);
  text-decoration: none;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  & > svg {
    width: 16px;
    height: 16px;
  }

  &.bookmarkIcon {
    & > svg {
      color: #808080;
    }
  }
}

.title {
  flex: 1;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.highlight {
  background-color: var(--bookmark-highlight-color);
}

.contextMenu {
  background-color: var(--bookmark-tree-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 4px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.contextMenuItem {
  padding: 4px 12px;
  color: var(--bookmark-color);

  &:hover {
    cursor: pointer;
    background-color: var(--bookmark-bg-color);
  }
}

.contextMenuSeparator {
  height: 1px;
  background-color: var(--border-color);
  margin: 4px 0;
}
