@use "../global.scss";

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--dialog-bg-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1001;
  width: 300px;
}

.title {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: bold;
  color: var(--bookmark-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  background-color: var(--dialog-bg-color);
}

.label {
  color: var(--bookmark-color);
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

.button {
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  background: var(--action-bg-color);
  color: var(--action-color);

  &:hover {
    cursor: pointer;
    background: var(--action-bg-hover-color);
  }

  &.secondary {
    background: var(--secondary-action-bg-color);
    color: var(--secondary-action-color);

    &:hover {
      background: var(--secondary-action-bg-hover-color);
    }
  }
}

.selectTrigger {
  @extend .input;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dialog-bg-color);
  border: 1px solid var(--input-border-color);
  height: 38px;
  overflow: hidden;

  &[data-placeholder] {
    & > span {
      text-align: left;
      color: #808080;
    }
  }

  & > span {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
  }

  & > .selectIcon {
    flex: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & > svg {
      width: 16px;
      height: 16px;
    }
  }
}

.selectContent {
  overflow: hidden;
  background-color: var(--dialog-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1002;
}

.selectViewport {
  padding: 4px;
}

.selectItem {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  color: var(--bookmark-color);
  height: 32px;
  user-select: none;
  padding: 0 8px;
  border-radius: 4px;

  &[data-disabled] {
    color: #808080;
    pointer-events: none;
  }

  &[data-highlighted] {
    outline: none;
    background-color: var(--bookmark-bg-color);
  }
}
