.searchContainer {
  position: relative;
  margin: 0 0 1em;

  & .searchInput {
    width: 100%;
    padding: 8px 40px;
    border: 1px solid var(--input-border-color);
    border-radius: 20px;
    background-color: var(--bookmark-tree-bg-color);

    &:focus {
      outline: 2px solid var(--input-border-color);
      border-color: var(--input-focus-border-color);
    }

    &::placeholder {
      color: #808080;
    }
  }

  & svg {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 18px;
    height: 18px;
    opacity: 0.5;
    color: #808080;
  }

  & input:focus + svg {
    opacity: 1;
  }

  & .clearButton {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 16px;
    color: #808080;

    &:hover {
      cursor: pointer;
    }
  }
}

.searching {
  padding: 1rem;
  color: #808080;
  text-align: center;
}

.bookmarksContainer {
  background-color: var(--bookmark-tree-bg-color);
  border-radius: 10px;
  padding-bottom: 0.5rem;
  overflow: hidden;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  &:focus {
    outline: none;
  }

  & .bookmarksHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  & .bookmarksHeaderTitle {
    font-size: 1.2rem;
    font-weight: 600;
  }

  & .bookmarksHeaderCount {
    font-size: 1rem;
    font-weight: 400;
    color: #808080;
  }
}

.bookmarksListContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;

  // Gradient at the top
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
    background: linear-gradient(
      to bottom,
      var(--bookmark-tree-bg-color),
      transparent
    );
  }

  // Gradient at the bottom
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    pointer-events: none;
    background: linear-gradient(
      to top,
      var(--bookmark-tree-bg-color),
      transparent
    );
  }
}

.bookmarksList {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem 0.5rem;
}

.actionsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
}

.sortTrigger {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  border-radius: 20px;
  color: #808080;
  background-color: var(--secondary-action-bg-color);
  font-size: 12px;
  line-height: 20px;
  padding: 6px 12px;

  &:focus-visible {
    color: var(--action-bg-color);
    outline: 2px solid var(--input-focus-border-color);
    background-color: var(--secondary-action-bg-hover-color);
  }

  &:hover {
    color: var(--action-bg-color);
    background-color: var(--secondary-action-bg-hover-color);
  }
}

.sortIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  & > svg {
    width: 16px;
    height: 16px;
  }
}

.sortContent {
  // overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 120px;
  background-color: var(--bg-color);
}

.sortItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  color: var(--bookmark-color);

  &[data-highlighted] {
    outline: none;
    background-color: var(--bookmark-bg-color);
  }

  & svg {
    width: 16px;
    height: 16px;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.actionButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 7px;
  border: none;
  border-radius: 20px;
  background: var(--secondary-action-bg-color);
  color: #808080;

  &:focus-visible {
    color: var(--action-bg-color);
    background-color: var(--secondary-action-bg-hover-color);
  }

  &:hover {
    color: var(--action-bg-color);
    background: var(--secondary-action-bg-hover-color);
  }

  & > svg {
    width: 18px;
    height: 18px;
  }
}
