.searchContainer {
  position: relative;
  margin: 0 0 1em;

  & .searchInput {
    width: 100%;
    padding: 8px 32px;
    border: 1px solid var(--input-border-color);
    border-radius: 20px;
    background-color: var(--bookmark-tree-bg-color);

    &:focus {
      outline: 2px solid var(--input-border-color);
      border-color: var(--input-focus-border-color);
    }

    &::placeholder {
      color: #808080;
    }
  }

  & .clearButton {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 16px;
    color: #666;
  }
}

.searching {
  padding: 1rem;
  color: #808080;
  text-align: center;
}

.bookmarksContainer {
  background-color: var(--bookmark-tree-bg-color);
  border-radius: 10px;
  padding-bottom: 1rem;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  & .bookmarksHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  & .bookmarksHeaderTitle {
    font-size: 1.2rem;
    font-weight: 600;
  }

  & .bookmarksHeaderCount {
    font-size: 1rem;
    font-weight: 400;
    color: #808080;
  }
}

.actionsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 1rem;
}

.sortTrigger {
  display: flex;
  flex-direction: row;
  align-items: center;
  //   padding: 8px 12px;
  //   background-color: var(--bookmark-bg-color);
  //   border: 1px solid #ddd;
  border-radius: 40px;
  color: #808080;
  background-color: transparent;
  font-size: 12px;

  &:focus {
    outline: none;
  }
}

.sortIcon {
  margin-left: 8px;
}

.sortContent {
  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 120px;
  background-color: var(--bg-color);
}

.sortItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  color: var(--bookmark-color);

  &[data-highlighted] {
    outline: none;
    background-color: var(--bookmark-bg-color);
  }
}
